{% extends "Main/base.html" %}
{% block content %}
  <h2 class="gallery_title">Photo Gallery</h2>

  {% if photos %}
    <div class="gallery_container">
      {% for photo in photos %}
        <div class="gallery_card">
          <a href="{% url 'community:gallery_photo' %}?id={{ photo.id }}">
            <img class="gallery_image" src="{{ photo.image.url }}" alt="{{ photo.caption }}">
            <p class="gallery_caption">{{ photo.caption }}</p>
            <p class="gallery_meta">
              By {{ photo.uploaded_by.username }} on {{ photo.uploaded_at|date:"D, d M Y" }}
            </p>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="gallery_empty">No photos yet.</p>
  {% endif %}

    <a class="gallery_cta" href="{% url 'community:upload_photo' %}">Upload Your Photo</a>
{% endblock %}
