{% extends "Main/base.html" %}
{% load static %}

{% block content %}
<div class="profile-edit-container">
    <h2 class="profile-edit-title">Edit Your Profile</h2>
    <form method="post" enctype="multipart/form-data" class="profile-edit-form">
        {% csrf_token %}
        <div class="profile-edit-row">
            <div class="profile-edit-left">
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.graduation_year.label_tag }}
                    {{ form.graduation_year }}
                </div>
                <div class="form-group">
                    {{ form.occupation.label_tag }}
                    {{ form.occupation }}
                </div>
            </div>

            <div class="profile-edit-right">
                <div class="form-group">
                    {{ form.bio.label_tag }}
                    {{ form.bio }}
                </div>
                <div class="form-group">
                    {{ form.linkedin_url.label_tag }}
                    {{ form.linkedin_url }}
                </div>
                <div class="form-group">
                    {{ form.profile_picture.label_tag }}
                    {{ form.profile_picture }}
                    {% if user.profile_picture %}
                        <div class="current-profile-img">
                            <img src="{{ user.profile_picture.url }}" alt="Current profile picture">
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <button type="submit" class="btn profile-edit-btn">Save Changes</button>
    </form>
</div>
{% endblock %}
