{% extends "Main/base.html" %}
{% load static %}

{% block content %}
<div class="profile-display">
    <div class="profile-container">
        <div class="profile-left">
            <h2>{{ alumni.username }}</h2>
            {% if alumni.profile_picture %}
                <img src="{{ alumni.profile_picture.url }}" alt="{{ alumni.username }} Profile Picture" class="profile-img" style="justify-content: center;">
            {% else %}
                <div class="profile-no-img">No picture uploaded</div>
            {% endif %}
        </div>

        <div class="profile-right" style="padding-top: 60px;">
            <ul>
                <li><strong>Full Name:</strong> {{ alumni.first_name }} {{ alumni.last_name }}</li>
                <li><strong>Graduation Year:</strong> {{ alumni.graduation_year }}</li>
                <li><strong>Name While At School:</strong> {{ alumni.name_while_at_school }}</li>
                <li><strong>Occupation:</strong> {{ alumni.occupation }}</li>
                <li><strong>Bio:</strong> {{ alumni.bio }}</li>
                <li><strong>LinkedIn:</strong>
                    {% if alumni.linkedin_url %}
                        <a href="{{ alumni.linkedin_url }}" target="_blank">{{ alumni.linkedin_url }}</a>
                    {% else %}
                        <span class="text-muted">Not provided</span>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

    <div class="profile-center">
        <a href="{% url 'interactions:compose' %}?to={{ alumni.username }}" class="reply_btn">
            Contact
        </a>
    </div>
</div>
{% endblock %}
