{% extends "Main/base.html" %}
{% load static %}

{% block content %}

<p>The Caistorians' association was created in December of 2025 by a small group of students.
Our goal is to create a platform which connects aluni from all years, allowing them to share stories,
photos, and stay in touch with upcoming events. We believe that by fostering a strong alumni community, we can
support current students, provide mentorship opportunities, and create a network that benefits every generation of Caistorians.
</p>
<p> Thank you to the Upper 6th form computer science students who developed and launched this website:
<ul>
    <li>Bradley Minall - Developer</li>
    <li>Yashvasin Printhvan - Developer</li>
    <li>Reuben Smith - Developer</li>
    <li>Leo White - Developer</li>
</ul>
</p>

{% endblock %}